@import "/src/styles/colors";

.textBox {
  height: 150px;
  padding: 10px;

  .textBox__title {
    font-style: italic;
    margin: 10px 0;
    font-size: 20px;
  }

  .textBox__subtitle {
    margin: 5px 0;
    border-top: 2px dashed $BLACK;
    border-bottom: 2px dashed $BLACK;
    padding: 10px 0;
  }

  .textBox__description {
    margin: 10px 0;
  }
}
