ul,
li {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.cards__item {
  margin-top: 20px;
  padding: 20px;
  flex-basis: 45%;
  color: #ccc;
  background-color: #1d1d1d;

  .cards__field {
    padding: 10px 0;
    list-style: none;
    text-align: left;
    display: flex;
    align-items: baseline;

    .cards__ftitle {
      flex-basis: 45%;
      margin: 0;
    }

    .cards__value {
      color: #f39c12;
      text-transform: capitalize;
      flex-basis: 55%;
    }
  }
}
