@import "/src/styles/colors";

.card {
  width: 350px;

  .card__imagebox {
    height: 270px;
    overflow: hidden;
  }

  .card__info {
    height: 150px;
    padding: 10px;

    .card__title {
      font-style: italic;
      margin: 10px 0;
      font-size: 20px;
    }

    .card__price {
      margin: 5px 0;
      border-top: 2px dashed $BLACK;
      border-bottom: 2px dashed $BLACK;
      padding: 10px 0;
    }

    .card__description {
      margin: 10px 0;
    }
  }

  .card__button {
    width: 120px;
    margin: 5px 0 20px 10px;
    padding: 7px 5px;
    font-size: 15px;
  }
}
