.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .spinner__svg {
    position: relative;
  }

  .spinner__message {
    position: absolute;
    font-family: monospace;
    font-size: 14px;
  }
}
