.options {
  .options__sorting {
    margin: 30px auto;
    display: flex;
    justify-content: flex-end;

    .sorting__title {
    }

    .sorting__select {
      margin: 0 10px;
      width: 150px;
      height: 30px;
    }
  }
}
